In [1]:
# Juan Pardo Palazón

# Importacion de librerias
import numpy as np
import pandas as pd
import datetime

In [2]:
# Constantes
ROOT_DIRECTORY = 'D:/anaconda/data/'
AFTER_DATA = '2014-02-01'
BEFORE_DATA = '2015-07-01'
FILE_BASE = 'CLEAN_House' 
WINDOW_SIZE = 30
FIELD = 'Aggregate'
DECIMALS = 2

In [3]:
def getDfFiltered(file, column):
    """Filtrar por fechas dadas y seleccionar la columna a tratar (pasada por parámetro)
     
    Argumentos:
    file -- fichero de entrada 
    column -- columna a seleccionar
    """
    # Leer fichero origen, seleccionar columna consumo total ()
    house_data = pd.read_csv(ROOT_DIRECTORY + file+'.csv', delimiter = ',', parse_dates=[0], index_col=0)
    house_data = house_data[[column]]
    
    # Filtrardo de fechas. Rango de fechas con menor rango datos faltantes
    df_filtered = house_data[(house_data.index > AFTER_DATA) & (house_data.index < BEFORE_DATA)]
    return df_filtered

In [4]:
def dfTransformFile(file, column):

    # Obtener data frame filtrado por fechas y con la columna pasada por parametro    
    df_filtered = getDfFiltered(file, column)
    
    # Se agrupa por rangos de 6 horas en un día
    dt_filtered_resample24H = df_filtered.resample('24H').mean()
   
    return dt_filtered_resample24H

In [5]:
def fixCleanData(dt_filtered):

    # Se seleccionan aquellos valores del rango hora
    # pasado por parámetro (0, 6, 12 ó 18)
    # dt_filtered_Range = dt_filtered[dt_filtered_6H.Hour == rango]
    
    # Limpieza de NA
    dt_filtered = dt_filtered.interpolate(method ='linear', limit_direction ='forward')
    
    return dt_filtered

In [6]:
def generateWeekFile(dt_filtered_24H, field):

    # Limpiar datos
    dataToFilter = fixCleanData(dt_filtered_24H)

    # Filtrar por hora y obtener por semana
    dt_filtered_24H_Week = dataToFilter.rolling(window=WINDOW_SIZE, center=True).mean().resample("W").mean().apply(lambda x: round(x, DECIMALS))

    return dt_filtered_24H_Week

In [7]:
# Generar los ficheros
for x in range(1, 22):
    if x != 14:
        file = FILE_BASE + str(x)
        dt_filtered = dfTransformFile(file, FIELD)
        dt_filtered_Week  = generateWeekFile(dt_filtered, FIELD)
        # El hogar 6 no dispone datos del primer mes por eso se 
        # recoge desde la posición 7
        if x != 6:
            dt_filtered_Week.iloc[2:-2, :].to_csv(file+'_week'+'agg.csv', sep=',', encoding='utf-8')
        else:
            dt_filtered_Week.iloc[7:-2, :].to_csv(file+'_week'+'agg.csv', sep=',', encoding='utf-8')

Hola
Hola
Hola
Hola
Hola
Hola
Hola
Hola
Hola
Hola
Hola
Hola
Hola
Hola
Hola
Hola
Hola
Hola
Hola
Hola

In [8]:
dt_filtered_Week

            Aggregate
Time
2014-03-09        NaN
2014-03-16        NaN
2014-03-23     519.63
2014-03-30     528.41
2014-04-06     539.89
2014-04-13     527.51
2014-04-20     539.00
2014-04-27     557.32
2014-05-04     560.04
2014-05-11     597.20
2014-05-18     590.53
2014-05-25     582.08
2014-06-01     590.98
2014-06-08     559.81
2014-06-15     577.06
2014-06-22     580.45
2014-06-29     575.50
2014-07-06     583.61
2014-07-13     576.98
2014-07-20     579.56
2014-07-27     563.34
2014-08-03     547.89
2014-08-10     707.46
2014-08-17     878.36
2014-08-24     867.20
2014-08-31     858.29
2014-09-07     734.29
2014-09-14     493.62
2014-09-21     455.37
2014-09-28     446.40
...               ...
2014-12-14     439.12
2014-12-21     469.41
2014-12-28     458.48
2015-01-04     465.59
2015-01-11     507.19
2015-01-18     486.50
2015-01-25     494.93
2015-02-01     514.39
2015-02-08     472.41
2015-02-15     462.44
2015-02-22     508.96
2015-03-01     624.12
2015-03-08     729.58
2015-03-15     814.79
2015-03-22     885.86
2015-03-29     884.45
2015-04-05     810.23
2015-04-12     756.16
2015-04-19     704.71
2015-04-26     602.10
2015-05-03     566.04
2015-05-10     533.90
2015-05-17     500.46
2015-05-24     538.39
2015-05-31     792.24
2015-06-07    1100.88
2015-06-14    1408.92
2015-06-21    1596.33
2015-06-28        NaN
2015-07-05        NaN

[70 rows x 1 columns]